section {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    text-align: center;
    position: relative;
}

main {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
}
div.image-information, div.image-date {
    color: white;
}

div.image-information {
    top: 50%;
    font-size: 2em;
}

div.image-date {
    top: 50%;
    font-size: 1.5em;
}
div.next-image {
    text-align: center;
}

.show-next-image {
    margin: 5vh;
    padding: 10px;
    font-size: 0.7em;
    border-radius: 4px;
    border: transparent;
    /* background-color: transparent; */
    color: white;
    background-color: brown;
}
.show-next-image:focus {
    outline: none;
    border: transparent;
}
.hidden {
    display: none;
}

